<!doctype html>
<html>
  <head>
    <title>Spotify song shuffler</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>

  <body id="loginpage">
    <div class="container">
      <div id="login">
        <h1>Spotify Shuffler</h1>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
    	<input id="shuffle-songs" type="button" value="Shuffle your saved tracks" />

        <div id="user-tracks-external-urls">
        </div>
        
        <div id="oauth">
        </div>

        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
      </div>
    </div>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <h1 id='main-header'> Read before clicking, <strong>{{id}}</strong>. </h1>
      <p id='main-paragraph'> Don't close the tab while the process is running! It takes ~8 seconds per 100 songs. You will be alerted once it is finished. In case something goes wrong, you can restore your songs with the instructions below. Okay, you can click now. </p>           
    </script>

    <script id="user-tracks-external-urls-template" type="text/x-handlebars-template">
      <h1>Links to Your Songs</h1>
      <p>To save these songs to your account, copy these links and paste them into any spotify client.</p>
      <div id = "track-URL">
        <ul class="ultag">
          {{#each this}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/shuffleUtils.js"></script>
    <script src="/js/handlePageLoad.js"></script>
  </body>
</html>

