<!doctype html>
<html>
  <head>
    <title>Spotify song shuffler</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>

  <body id="loginpage">
    <div class="container">
      <div id="login">
        <h1>Spotify Shuffler</h1>
        <a href="/login" id="login-button">Log in with Spotify</a>
      </div>

      <div id="loggedin">
        <div id="loggedin-top">
          <h1 id='text-description'> Click the button below to shuffle.</h1>
          <input id="shuffle-songs" type="button" value="Shuffle your saved tracks" />
          <input id="show-links" type="button" value="Show links to Your Songs" />          
        </div>
      
        <div id="loggedin-bottom">
          <div id="user-tracks-external-urls">
          </div>
        </div>
      </div>
    </div>
    
    <script id="user-tracks-external-urls-template" type="text/x-handlebars-template">
      <p>You probably won't need these. In the off chance that something goes wrong, copy these links and paste them into any spotify client.</p>
      <div id="track-URL">
        <ul class="ultag">
          {{#each this}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/utils.js"></script>    
    <script src="/js/shuffleUtils.js"></script>
    <script src="/js/handlePageLoad.js"></script>
  </body>
</html>